<h1>{{header}}</h1>
<h2>{{name}}</h1>
<div class="row-fluid">
	<form name="uploadride" action="process/upload.php" ng-upload>
		<input type="file" name="ride[]" multiple >
		<input type="submit" class="btn" value="Submit" upload-submit="uploadComplete(content, completed)" />
	</form>
</div>
<div class="row-fluid">
	<div ng-repeat="(map, name) in routeData">
		<div style="float:left">
			<h1><input type="text" ng-model="name.name" placeholder="{{name.name}}"/></h1>
			<div id="{{map}}" class="map" style="width:300px; height:300px;"></div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<pre>RouteData: {{routeData}}</pre>
</div>